# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example


#npm token

.npmrc
**/.npmrc


# Build output
dist/
build/

# Logs
*.log

# Coverage
coverage/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db